
/* src/components/MainContent/Navbar.css */

.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar-link {
  color: var(--light-gray);
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  background: none;
  border: none;
  font-family: inherit;
  font-weight: 500;
}

.navbar-link:hover {
  color: var(--orange-yellow-crayola);
}

.navbar-link.active {
  color: var(--orange-yellow-crayola);
}

@media (max-width: 768px) {
  .navbar {
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .navbar-link {
    font-size: 14px;
  }
}